<h1>{{ event.name }}</h1>

{% if messages %}
    <div style="margin-bottom: 20px;">
        {% for message in messages %}
            <div style="padding: 10px; border: 1px solid {% if message.tags == 'error' %}red{% else %}green{% endif %};">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<div style="border:1px solid #333; padding:10px; margin-bottom:10px;">

    {% if event.description %}
        <p>{{ event.description }}</p>
    {% else %}
        <p>Без описания</p>
    {% endif %}

</div>

{% if event.info %}
    <p>Информация</p>
    <p>{{ event.info }}</p>
{% else %}
    <p>Без информации</p>
{% endif %}

{% if event.max_players %}
    <p>Участники: {{ event.members.count }}/{{ event.max_players }}</p>
{% else %}
    <p>Участники: {{ event.members.count }}/∞</p>
{% endif %}

{% if event.max_teams %}
    <p>Максимум команд: {{ event.max_teams }}</p>
{% else %}
    <p>Максимум команд: ∞</p>
{% endif %}

{% if event.min_players_per_team or event.max_players_per_team %}
    <p>
        Размер команды:
        {% if event.min_players_per_team %}
            от {{ event.min_players_per_team }}
        {% else %}
            от 1
        {% endif %}
        до
        {% if event.max_players_per_team %}
            {{ event.max_players_per_team }}
        {% else %}
            ∞
        {% endif %}
    </p>
{% else %}
    <p>Размер команды: без ограничений</p>
{% endif %}

{% if event.rules %}
    <p>Правила</p>
    <p>{{ event.rules }}</p>
{% else %}
    <p>Без правил</p>
{% endif %}

{% if event.start_datetime %}
    <p>Начало: {{ event.start_datetime }}</p>
{% else %}
    <p>Без времени старта</p>
{% endif %}

{% if event.end_datetime %}
    <p>Конец: {{ event.end_datetime }}</p>
{% else %}
    <p>Без времени окончания</p>
{% endif %}

{% if event.status %}
    <p>Статус ивента: {{ event.get_status_display }}</p>
{% else %}
    <p>Без статуса</p>
{% endif %}

<form method="post">
    {% csrf_token %}

    <div style="margin-bottom: 20px; padding: 10px; background: #f5f5f5;">
        <label for="mc-select"><strong>Выбери свой Minecraft аккаунт для участия:</strong></label>
        <select name="minecraft_account" id="mc-select" required>
            {% for account in request.user.profile.minecraft_accounts.all %}
                <option value="{{ account.id }}">{{ account.nickname }}</option>
            {% empty %}
                <option value="">У тебя нет привязанных аккаунтов</option>
            {% endfor %}
        </select>
    </div>

    {% for team in event.teams.all %}
        <h3>{{ team.name }} {{ team.members.count }}/{{ team.max_players }}</h3>
        <ul>
            {% for member in team.members.all %}
                <li>{{ member.minecraft_account.nickname }}</li>
            {% empty %}
                <li>Нет участников</li>
            {% endfor %}
        </ul>

        {% if current_member.team == team %}
            <button type="submit" name="action_leave" value="{{ team.id }}" style="background-color: #ff4d4d; color: white;">Выйти из команды</button>
        {% else %}
            {% if not team.max_players or team.members.count < team.max_players %}
                <button type="submit" name="action_join" value="{{ team.id }}">Присоединиться</button>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if not event.max_teams or event.teams.count < event.max_teams %}
        <hr>
        <button type="button" id="create-team">Создать свою команду</button>

        <div id="create-team-form" style="display: none;">
            <input type="text" name="new_team_name" placeholder="Название команды">
            <input type="text" name="new_team_color" placeholder="Цвет HEX">
            <input type="number" name="new_team_max_players" placeholder="Максимум игроков">
            <button type="submit" name="action_create">Создать и присоедениться</button>
        </div>
    {% endif %}
</form>

<h2>Без команды</h2>

<ul>
{% for member in event.members.all %}
    {% if not member.team %}
        <li>{{ member.minecraft_account.nickname }}</li>
    {% endif %}
{% endfor %}
</ul>


<script>
    const newTeamForm = document.getElementById("create-team-form");
    const newTeamButton = document.getElementById("create-team");

    newTeamButton.addEventListener("click", function () {
        newTeamForm.style.display = "block";
    });
</script>