<h1>{{ event.name }}</h1>

<div style="border:1px solid #333; padding:10px; margin-bottom:10px;">

    {% if event.description %}
        <p>{{ event.description }}</p>
    {% else %}
        <p>Без описания</p>
    {% endif %}

</div>

{% if event.info %}
    <p>Информация</p>
    <p>{{ event.info }}</p>
{% else %}
    <p>Без информации</p>
{% endif %}

{% if event.max_players %}
    <p>Участники: {{ event.members.count }}/{{ event.max_players }}</p>
{% else %}
    <p>Участники: {{ event.members.count }}/∞</p>
{% endif %}

{% if event.rules %}
    <p>Правила</p>
    <p>{{ event.rules }}</p>
{% else %}
    <p>Без правил</p>
{% endif %}

{% if event.start_datetime %}
    <p>Начало: {{ event.start_datetime }}</p>
{% else %}
    <p>Без времени старта</p>
{% endif %}

{% if event.end_datetime %}
    <p>Конец: {{ event.end_datetime }}</p>
{% else %}
    <p>Без времени окончания</p>
{% endif %}

{% if event.status %}
    <p>Статус ивента: {{ event.get_status_display }}</p>
{% else %}
    <p>Без статуса</p>
{% endif %}

{% for team in event.teams.all %}

    <h2>{{ team.name }} {{ team.members.count }}/{{ team.max_players }}</h2>

    <ul>
        {% for member in team.members.all %}
            <li>{{ member.minecraft_account.nickname }}</li>
        {% empty %}
            <li>Нет участников</li>
        {% endfor %}
    </ul>

{% endfor %}

<h2>Без команды</h2>

<ul>
{% for member in event.members.all %}
    {% if not member.team %}
        <li>{{ member.minecraft_account.nickname }}</li>
    {% endif %}
{% endfor %}
</ul>